<article data-json-url="{{ json_url }}" class="{{ classes }}">
  <header>
    <h2 class="entry-title">{{{ title }}}</h2>
    {{> entry-meta }}
  </header>
  <div class="entry-content">
    {{{ content }}}
  </div>
  <footer></footer>
</article>
