<article data-json-url="{{ json_url }}" class="{{ classes }}">
  <header>
    <h2 class="entry-title"><a data-json-url="{{ json_url }}" href="{{ link }}">{{{ title }}}</a></h2>
    {{> entry-meta }}
  </header>
  <div class="entry-summary">
    {{{ excerpt }}}
  </div>
</article>
